@font-face {
  font-family: "Manrope";
  src: url("/src/assets/fonts/Manrope-VariableFont_wght.woff2");
  font-weight: 200 800;
}

/* ------------------- CSS Reset ------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

*:focus-visible {
  outline: 0.125rem dotted green;
  outline-offset: 0.125rem;
}

img,
svg,
picture {
  display: block;
  width: 100%;
  height: auto;
}

input,
button,
textarea {
  font: inherit;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
}

/* ------------------- Design Tokens ------------------- */
:root {
  --ff-manrope: "Manrope", sans-serif;

  --clr-white: hsl(0, 0%, 100%);

  --clr-grey-100: hsl(210, 46%, 95%);
  --clr-grey-400: hsl(214, 17%, 51%);
  --clr-grey-500: hsl(212, 17%, 43%);
  --clr-grey-900: hsl(217, 19%, 35%);
}

.text-preset-1 {
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.12px;
}

.text-preset-2 {
  font-size: 0.8125rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.12px;
}

.text-preset-3 {
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 5px;
}

.text-preset-4 {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: 0.2px;
}

@media (min-width: 58rem) {
  .text-preset-4 {
    font-size: 1.25rem;
  }
}
/* ------------------- End of Design Tokens ------------------- */

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  clip-path: inset(50%);
  overflow: hidden;
  white-space: nowrap;
}

body {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Manrope", sans-serif;
  background-color: var(--clr-grey-100);
  padding: 1.5rem;
}

.article {
  max-width: 22rem;
  display: grid;
  background-color: var(--clr-white);
  border-radius: 0.625rem;
}

.hero-img {
  border-top-left-radius: 0.625rem;
  border-top-right-radius: 0.625rem;
  height: 100%;
  object-fit: cover;
  object-position: left;
}

.content-wrapper {
  display: grid;
  gap: 1.25rem;
}

.text-content {
  display: grid;
  gap: 0.75rem;
  padding-inline: 2rem;
  padding-block: 1.5rem 0;
}

.heading {
  color: var(--clr-grey-900);
}

.text {
  color: var(--clr-grey-500);
}

.bottom-wrapper {
  position: relative;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: 1rem;
  padding-block: 1.5rem;
  padding-inline: 2rem;
  overflow: hidden;
}

.author-details {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.avatar {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 999px;
}

.name {
  color: var(--clr-grey-900);
}

.date {
  color: var(--clr-grey-500);
}

.share-details {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.25rem;
  background-color: var(--clr-grey-900);
  padding-block: 1.5rem;
  padding-inline: 2rem;
  border-bottom-left-radius: 0.625rem;
  border-bottom-right-radius: 0.625rem;
}

.share-heading {
  color: var(--clr-grey-100);
  text-transform: uppercase;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.social-link {
  display: block;
  outline-color: var(--clr-grey-100);
}

.social-icon {
  width: 1.25rem;
  height: 1.25rem;
  fill: var(--clr-white);
}

.share-button {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--clr-grey-400);
  background-color: var(--clr-grey-100);
  border: 1px solid transparent;
  border-radius: 999px;
  outline-color: var(--clr-grey-400);
  z-index: 5;
  transition:
    color 300ms,
    background-color 300ms;
}

.share-button-icon {
  width: 1rem;
  height: 1rem;
  pointer-events: none;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }

  80% {
    opacity: 1;
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  0% {
    display: flex;
    opacity: 1;
    transform: translateY(0);
  }

  60% {
    opacity: 0.1;
    transform: translateY(-100%);
  }

  100% {
    display: none;
  }
}

.share-button[data-is-popover-open="true"] {
  color: var(--clr-white);
  background-color: var(--clr-grey-400);
}

.share-button[data-is-popover-open="true"] + .share-details {
  display: flex;
  animation: fadeIn 300ms ease-out;
}

.share-button[data-is-popover-open="false"] + .share-details {
  display: none;
  opacity: 0;
  transform: translateY(-100%);
  animation: fadeOut 300ms ease-out;
}

@media (prefers-reduced-motion: reduce) {
  .share-button[data-is-popover-open="true"] + .share-details {
    display: flex;
    animation: none;
  }

  .share-button[data-is-popover-open="false"] + .share-details {
    display: none;
    animation: none;
  }
}

/* ------------------- Media Queries ------------------- */
@media (min-width: 58rem) {
  .article {
    max-width: 45rem;
    grid-template-columns: 2fr 3fr;
  }

  .hero-img {
    border-top-left-radius: 0.625rem;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0.625rem;
  }

  .content-wrapper {
    gap: 0;
  }

  .text-content {
    padding-inline: 2.5rem;
    padding-block: 2rem 0;
  }

  .bottom-wrapper {
    padding: 2rem 2.5rem;
    overflow: visible;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(20%) scaleX(0);
    }

    20% {
      opacity: 1;
    }

    100% {
      transform: translateY(0) scaleX(1);
    }
  }

  @keyframes fadeOut {
    0% {
      display: flex;
      opacity: 1;
      transform: translateY(0);
    }

    60% {
      opacity: 0;
      transform: translateY(-60%);
    }

    100% {
      display: none;
    }
  }

  .share-details {
    max-width: 16rem;
    padding: 1.25rem 2.25rem;
    inset: unset;
    top: -3.7rem;
    right: -4rem;
    border-radius: 0.625rem;
  }

  .share-details::after {
    position: absolute;
    content: "";
    width: 1.5rem;
    height: 1.5rem;
    background-color: var(--clr-grey-900);
    bottom: -0.75rem;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
  }
}
